/* General body styling */
body {
  font-family: 'Press Start 2P', cursive;
  background: linear-gradient(45deg, #1E90FF, #4169E1);
  color: #d3d3d3;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

/* Navbar styling */
nav {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px 0;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

nav a {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 1rem;
}

nav a:hover {
  text-decoration: underline;
}

/* Container and content layout */
.container {
  text-align: center;
  background-color: #222;
  padding: 140px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 600px;
  width: 100%;
  margin-top: 100px;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 30px;
  color: #ff6347;
}

input[type="url"], button {
  width: 90%;
  padding: 12px 20px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid #555;
  box-sizing: border-box;
}

input[type="url"] {
  background-color: #333;
  color: #f2f2f2;
}

button {
  background-color: #ff6347;
  color: white;
  border: none;
  cursor: pointer;
  font-family: 'Press Start 2P', cursive;
}

button:hover {
  background-color: #ff4500;
}

#loading, #result {
  transition: opacity 0.5s ease-in-out;
}

.hourglass {
  width: 50px;
  height: 50px;
  animation: rotate 1s infinite linear;
}

.tenor-gif-embed {
  width: 50px; /* Same size as the original */
  height: 50px;
  margin: 0 auto;
}


@keyframes rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* New "How it works" section styling */
.how-it-works {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  width: 100%;
  padding: 20px; /* Padding around the entire section */
}

.work-step {
  text-align: center;
  color: #fff;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  margin: 0 20px; /* Adds space between the blocks */
  padding-top: 25px;
  padding-bottom: 25px;
}

.work-step img {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

.work-step p {
  font-size: 1rem;
}

/* Responsive design */
@media (max-width: 768px) {
  .how-it-works {
    flex-direction: column;
    align-items: center;
  }

  .work-step {
    margin-bottom: 20px; /* Add vertical spacing between blocks on mobile */
    width: 80%;
  }
}
